*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    
}
.main{
    height: calc(100% - 0.1px);
    /* height: 109vh; */
    width: 100%;
    background-color: rgb(0, 0, 0);
    /* overflow: scroll; */
    overflow-x: hidden;
}
nav{
    height: 10%;
    width: 100%;
    background-color: rgba(29, 30, 30, 0.639);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 3vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.373);
}
.logo{
    display: flex;
    align-items:center;
}
.logo img{
width: 3vw;
border-radius: 50px;
}
.options{
    display: flex;
    align-items: center;
    gap: 0px 80px;
    
}
span{
    display: flex;
    align-items: center;
    gap: 0px 5px
}
span a{
    text-decoration: none;
    font-size: 1.2vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: #ffffffe6;
    
}
span i{
    font-size: 1.1vw;
    color: white;
}
span select{
    border: none;
    background-color: transparent;
    color: white;

}
.social_media{
    display: flex;
    align-items: center;
    gap: 0px 40px;
    
}
.social_media .log i{
    font-size: 2vw;
    color: rgba(255, 255, 255, 0.796);
    cursor: pointer;
}
.container_1{
    /* height: 100%; */
    width: 100%;
    /* background-color: red; */
    position: relative;
    display: flex;
    overflow: hidden;
}
.left1{
    height: 100%;
    width: 25%;
    /* background-color: yellow; */
    padding-top: 50px;
}
.right1{
    height: 100%;
    width: 75%;
    color: white;
    display: flex;
    /* overflow:visible; */
    overflow-x: hidden;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* flex-wrap: wrap-reverse; */
    /* background-color: rgb(6, 44, 24); */
    
}
.log1{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* height: 600px; */
    
    /* background-color: green; */
}
.log1 img{
border-radius: 500px;
width: 260px;
}
.right1 .text_container_1{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    /* flex-wrap: wrap; */
    /* overflow: hidden; */
    /* background-color: red; */
}
.text_container_1 h1{
    font-size: 3rem;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}
.text_container_1 h2{
    font-size: 1.5rem;
    line-height: 50px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}
.text_container_1 p{
    font-size: 1.2rem;
    line-height: 30px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.mystuffs{
    height: 30vh;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-left: 15vw;
}
.mystuffs .box{
    height: 150px;
    width: 150px;
    background-color: yellow;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    cursor: pointer;
}
.mystuffs #box1:hover{
    background-color: rgba(255, 0, 0, 0.989);
}
.mystuffs #box1{
    background-color: rgba(255, 0, 0, 0.66);
}
.mystuffs #box2:hover{
    background-color: rgba(34, 255, 0, 0.963);
}
.mystuffs #box2{
    background-color: rgba(34, 255, 0, 0.468);
}
.mystuffs #box3{
    background-color: rgba(246, 255, 0, 0.527);
}
.mystuffs #box3:hover{
    background-color: rgba(246, 255, 0, 0.911);
}
.box a{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    text-align: center;display: flex;
    align-items: center;justify-content: center;
}